.btnprincipal {
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 287px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.btnprincipal span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnprincipal span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnprincipal:hover span {
  padding-right: 25px;
}

.btnprincipal:hover span:after {
  opacity: 1;
  right: 0;
}
